<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/admin/style.css" />
    <title>admin</title>
</head>

<body>
    <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
        <div id="errorMsgFromBackend">
            <p><%= errorMessage %> <span class="circle"></span></p>
        </div>
    <% } %>
    <% if (typeof successMsg !=='undefined' && successMsg) { %>
        <div id="successMsgFromBackend">
          <p>
            <%= successMsg %> <span class="circle"></span>
          </p>
        </div>
    <% } %>

    <!-- -------------------For Post Details----------------- -->
    <div id="postDetailedBox" class="post_DetailedBox">
      
       
    </div>
    <!-- ---------------For Profile Info Updates-------------- -->
    <div id="profileUpdateModal" class="modalProfile">
        <div class="modal-content">
            <span id="closeBtn" class="closeBtnProfile">&#x2702;</span>
            <h2>Update your A/c</h2>
            <form action="/admin/editProfile" method="POST">
                <input type="text" name="userName" placeholder="userName" value="<%= admin.userName %>" required>
                <input type="text" name="fullName" placeholder="fullName" value="<%= admin.fullName %>" required>
                <input type="email" name="email" placeholder="Email" value="<%= admin.email %>" required>

                <div class="submitBtn">
                    <button type="submit">Submit</button>
                </div>
            </form>

        </div>
    </div>

    <!-- ---------------For Profile Info Updates-------------- -->
    <div id="userProfileUpdateModal" class="modalUserProfile">
        
    </div>

    <!-- ---------------For add admin-------------- -->
    <div id="addAdminModal" class="modalAddAdmin">
        <div class="modal-content">
            <span id="closeBtn" class="closeBtnAddAdmin">&#x2702;</span>
            <h2>Add Admin</h2>
            <form action="/admin/addAdmin" method="POST">
                <input type="text" name="userName" placeholder="userName" required>
                <input type="text" name="fullName" placeholder="fullName" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="password" required>
                <div class="submitBtn">
                    <button type="submit">Submit</button>
                </div>
            </form>

        </div>
    </div>

    <!-- ------------For send message to user------------ -->
    <div id="sendMessage" class="modalSendMsg">
        <div class="modal-content">
            <span id="closeBtn" class="closeBtnSendMsg">&#x2702;</span>
            <h2>Add Admin</h2>
            <form action="/admin/sendMailUser" method="POST">
                
                <input type="email" name="email" placeholder="Email" required>
                <textarea name="msg" id="" placeholder="send message" required></textarea>
                <div class="submitBtn">
                    <button type="submit">Sent</button>
                </div>
            </form>

        </div>
    </div>
    <!-- Navbar -->
    <div class="navbar">
        <h2>Admin Dashboard</h2>
        <div class="admin-info">
            <span>Welcome, <%= admin.userName %></span>
        </div>
        <div id="sideNaviBtn">
            <div class="setNaviBtn">
                <div class="lines"></div>
                <div class="lines"></div>
                <div class="lines"></div>
            </div>
        </div>
        <!-- ---------side profile edit nav----------- -->
        <div class="profileSideNavi hideNaviBar">
            <div class="setNavibox">

                <a href="" class="editProfile"><span class="elemsBox">Edit profile</span></a>
                <a href="" class="addAdmin"><span class="elemsBox">Add Admin</span></a>
                <a href="/users/logOut"><span class="elemsBox">Log Out</span></a>
            </div>
        </div>
    </div>

    <div class="admin-dashboard">
        
        <!-- Sidebar -->
        <div id="sidebar" class="profileSideBar">
            <div class="pined pinnedProfileBar">
                <div class="headParts profileBarHead">
                    <div class="sideLogo">
                        <img src="/images/logo.png" alt="">
                    </div>
                    <h1>CodeMe</h1>
                </div>

                <div class="otherRegex">
                    <a href="/">
                        <div class="parts profileParts">
                            <div class="sideLogoParts">
                                <img src="/images/sidebarImages/home1-removebg-preview.png" alt="">
                            </div>
                            <h6>Home</h>
                        </div>
                    </a>

                    <a href="regex">
                        <div class="parts profileParts">
                            <div class="sideLogoParts">
                                <img src="/images/sidebarImages/regex-removebg-preview.png" alt="">
                            </div>
                            <h6>Regex</h>
                        </div>
                    </a>

                    <a href="uicode">

                        <div class="parts profileParts">
                            <div class="sideLogoParts">
                                <img src="/images/sidebarImages/code-removebg-preview.png" alt="">
                            </div>
                            <h6>Code+UI</h>
                        </div>
                    </a>

                    <a href="#" id="adminDashboard">

                        <div class="parts profileParts">
                            <div class="sideLogoParts">
                                <img src="/images/sidebarImages/dashboard.png" alt="">
                            </div>
                            <h6>Dashboard</h>
                        </div>
                    </a>
                    <a href="#" id="developerManagement">

                        <div class="parts profileParts">
                            <div class="sideLogoParts">
                                <img src="/images/sidebarImages/user.png" alt="">
                            </div>
                            <h6>Developer Management</h>
                        </div>
                    </a>

                    <a href="#" id="viewerManagement">

                        <div class="parts profileParts">
                            <div class="sideLogoParts">
                                <img src="/images/sidebarImages/user.png" alt="">
                            </div>
                            <h6>Viewer Management</h>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <!-- First Container with Boxes -->
            <div id="dashboardContainer">
                <div class="dashboard-container" id="firstContainer">
                    <div class="dashboard-box" id="developerBox">
                        <h3>Developers</h3>
                        <p id="developerCount">
                            <%= developerCount %>
                        </p>
                    </div>
                    <div class="dashboard-box" id="viewerBox">
                        <h3>Viewers</h3>
                        <p id="viewerCount">
                            <%= viewerCount %>
                        </p>
                    </div>
                    <div class="dashboard-box" id="postBox">
                        <h3>Posts</h3>
                        <p id="postCount">
                            <%= postCount %>
                        </p>
                    </div>
                </div>

                <!-- Second Container with Detailed Information -->
                <div class="details-container" id="secondContainer">
                    <!-- Developer Table -->
                    <div id="developerTable">
                        <h3>Developer Details</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Post</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% developers.forEach(developer=>{ %>
                                    <tr>
                                        <td>
                                            <%= developer._id %>
                                        </td>
                                        <td>
                                            <%= developer.userName %>
                                        </td>
                                        <td>
                                            <%= developer.email %>
                                        </td>
                                        <td>
                                            <%= developer.developerPostCount %>
                                        </td>
                                    </tr>
                                    <% }) %>

                            </tbody>
                        </table>
                    </div>

                    <!-- Viewer Table -->
                    <div id="viewerTable" style="display: none">
                        <h3>Viewer Details</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Email</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% viewers.forEach(viewer=>{ %>
                                    <tr>
                                        <td>
                                            <%= viewer._id %>
                                        </td>
                                        <td>
                                            <%= viewer.userName %>
                                        </td>
                                        <td>
                                            <%= viewer.email %>
                                        </td>
                                    </tr>
                                    <% }) %>

                            </tbody>
                        </table>
                    </div>

                    <!-- Post Table -->
                    <div id="postTable" style="display: none">
                        <h3>Post Details</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>Post ID</th>
                                    <th>Post Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% userPosts.forEach(post=>{ %>
                                    <tr>
                                        <td>
                                            <%= post._id %>
                                        </td>
                                        <td>
                                            <%= post.postName %>
                                        </td>
                                        <td>
                                            <%= post.user.userName %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="developerContainer" class="developer-container" style="display: none;">
                <div class="developer-row">
                    <% developers.forEach(developer=>{ %>
                        <div class="developer-box removeUserBox">
                            <% if (!developer.dp || developer.dp === "" ) { %>
                                <img src="/images/profilePic.png" alt="Default Profile Picture" class="profile-pic">
                            <% } else { %>
                                <img src="<%= developer.dp %>" alt="Profile Picture" class="profile-pic" onerror="this.src='/images/profilePic.png'">
                            <% } %>
                          
                            <p>Id: <%= developer._id %></p>
                            <p>Username: <%= developer.userName %></p>
                            <p>Email: <%= developer.email %></p>
                            
                            <button class="postCountBtn" user='<%= JSON.stringify(developer).replace(/'/g, "&#39;") %>'>
                                Post = <%= developer.developerPostCount %>
                            </button>
                          
                            <button class="userEditBtn" user='<%= JSON.stringify(developer).replace(/'/g, "&#39;") %>'>Edit</button>
                          
                            <button class="userMessage" userId='<%= JSON.stringify(developer).replace(/'/g, "&#39;") %>'>Message</button>
                            <button class="userDeleteBtn removeUser" userId="<%= developer._id %>">Delete</button>
                          </div>
                          
                        <% }) %>
                </div>

                <!-- ================Each Developer Posts============ -->
                <div class="eachDeveloperPosts" style="display: none;">
                    <div class="eachDeveloperPostsClose">
                        <div class="closeBtn">&#x2702;</div>
                    </div>
                    <h1 style="margin-left: 6%; display: none;">User don't have any post!</h1>
                    <div class="developerPost-row">
                        
                    </div>
                </div>
            </div>

            <!-- ==============Viewer Container=========== -->
            <div id="viewerContainer" class="viewer-container" style="display: none;">
                <h2>Viewer Management</h2>
                <table id="viewerTable">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% viewers.forEach(viewer=>{ %>
                            <tr class="removeUserBox">
                                <td>
                                    <%= viewer._id %>
                                </td>
                                <td>
                                    <%= viewer.userName %>
                                </td>
                                <td>
                                    <%= viewer.email %>
                                </td>
                                <td><button class="editBtn userEditBtn" user='<%= JSON.stringify(viewer).replace(/'/g, "&#39;") %>'>Edit</button></td>
                                <td><button class="deleteBtn removeUser" userId="<%= viewer._id%>" >Delete</button></td>
                            </tr>
                            <% }) %>

                    </tbody>
                </table>
            </div>
        </div>
</body>

<script src="/js/admin/index.js"></script>

</html>