<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/login.css" />
  <title>forgetPassword</title>
</head>

<body style="background-color: black">
  <div class="containersBox">
    <% if (typeof errorMessage !=='undefined' ) { %>
      <div class="flashMsg">
        <p>
          <%= errorMessage %>
        </p>
      </div>
      <% } %>
        <div id="redirectHome">
          <a href="/">
            <div class="setBox">
              <span>go library</span> <img src="/images/sideArrow.png" alt="" />
            </div>
          </a>
        </div>
        <div id="login" class="loginContainer">
          <div class="main">
            <div class="loginlogo">
              <img src="/images/logo.png" alt="logo" />
              <div class="name">CodeMe</div>
            </div>
            <div class="form_container">
              <h1 class="headTag">Forget password</h1>
              <% if (success==="verify" ) { %>
                <form action="/users/forgotPassword" method="POST" class="login">
                  <h3 class="revive" style="margin-bottom: 10px;">
                    Frontedn Market Place - <b class="logtitle">CHANGE-PASSWORD</b>
                  </h3>
                  <div class="input_fields">
                    <span><img src="/images/sidebarImages/user.png" alt=""></span>
                    <input class="userName" type="text" name="userName" value="<%= userName %>" readonly>
                  </div>
                  <div class="input_fields">
                    <span></span>
                    <input class="password" type="password" name="password" placeholder="Password..." required>
                  </div>
                  <div class="submit_btn">
                    <button type="submitUserName" style="margin-bottom: 10px;"
                      class="submitUserName">Submit</button>
                  </div>
                </form>
                <% } else if (success==="completed" ) { %>
                  <script>
                    window.location.href = "/";
                  </script>
                  <% } else if (success===true) { %>
                    <form action="/users/verify" method="POST" class="login">
                      <h3 class="revive" style="margin-bottom: 15px;">
                        Frontedn Market Place - <b class="logtitle">VERIFY-OTP</b>
                      </h3>
                      <p>OTP has been sent to: <strong><%= email %></strong>.</p>
                      <input type="hidden" name="email" value="<%= email %>">
                      <div class="input_fields">
                        <span><img src="/images/sidebarImages/user.png" alt=""></span>
                        <input class="userName" type="text" name="userName" value="<%= userName %>" readonly>
                      </div>
                      <div class="input_fields">
                        <span><img src="/images/sidebarImages/user.png" alt=""></span>
                        <input class="otp" type="text" name="otp" placeholder="ENTER OTP" required>
                      </div>
                      
                      <div class="submit_btn">
                        <button type="submitUserName" style="margin-bottom: 10px;"
                          class="submitUserName">VERIFY-OTP</button>
                      </div>
                      
                    </form>
                    <% } else { %>

                      <form action="/users/otp" method="POST" class="login">
                        
                        <div class="input_fields">
                          <span><img src="/images/sidebarImages/user.png" alt=""></span>
                          <input class="userName" type="text" name="userName" placeholder="Username..." required>
                        </div>

                        <div class="submit_btn">
                          <button type="submitUserName" style="margin-bottom: 10px;"
                            class="submitUserName">Submit</button>
                        </div>
                      </form>
                      <% } %>


                        <div class="otpBox">

                        </div>

            </div>
          </div>
          <div class="footerLogin">
            <p>
              Let us save your time. Set up a call with our team to build your
              internal tool faster.
            </p>
          </div>
        </div>
  </div>
  <!-- ----------scripts--------- -->

  <script src="js/forgetPassword.js"></script>
</body>

</html>