<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/atom-one-dark.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="/css/index.css" />
  <title>Document</title>
</head>

<body>
  <header>
    <nav>
      <div class="logo">
        <div class="image"><img src="./images/logo.png" alt="logo" /></div>
        <div class="title">CodeMe</div>
      </div>

      <div class="menu">
        <ul>
          <li class="list"><a href="#">home</a></li>
          <li class="list"><a href="regex">regex</a></li>
          <!-- <li class="list"><a href="#">UI</a></li> -->
          <li class="list"><a href="uicode">UI+Code</a></li>
        </ul>
      </div>

      <% if (isLoggedIn) { %>
        
        <div class="profileRedirectBox">
          <% if(profileUser.role === "admin"){ %>
            <a href="/admin">
          <% } else { %>
            <a href="/profile">
          <% } %>
            <div class="imgboxProfile">
              <% if (!profileUser || !profileUser.dp || profileUser.dp==="" ) { %>
                <img src="/images/profilePic.png" alt="Default Profile Picture" />
                <% } else { %>
                  <img src="<%= profileUser.dp %>" alt="Profile Picture" />
                  <% } %>
            </div>
          </a>
        </div>
        <% } else { %>
          <div class="loginRegister">
            <a href="/login">
              <div id="homeLoginBtn">login</div>
            </a>
            <a href="/register">
              <div id="homeRegisterBtn">register</div>
            </a>
          </div>
          <% } %>
            <div class="sideNavbrgar">
              <div id="sideNaviBtn" class="sideShowNavi">
                <div class="setNaviBtn">
                  <div class="lines"></div>
                  <div class="lines"></div>
                  <div class="lines"></div>
                </div>
              </div>
            </div>
    </nav>

    <!-- ---------side Nav------------ -->
    <div class="sideNaviMedia">
      <div class="sideMenu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="regex">Regex</a></li>
          <!-- <li><a href="#">UI</a></li> -->
          <li><a href="#">UI+Code</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
        </ul>
      </div>
    </div>

    <div id="page1">
      <a href="#">
        <img src="/images/christmas-stars.png" alt="star" />
        Share Your Work With Your Network.
      </a>
      <h1>FrontEnd Code-Exchange.</h1>
      <h1>At speed.</h1>

      <h6>
        CodeMe is a social platform for developers that saves their time.
      </h6>
    </div>
  </header>

  <main>
    <!-- ------page2-video----- -->


    <div id="postDetailedBox" class="post_DetailedBox">
      
      
    </div>

    <div id="page2">
      <div class="pageLayout">
        <div class="width_wrapper">
          <div class="pageLeftInfo">
            <div class="pageLeftHead">
              <div class="imagePageLeft">
                <img src="images/logo.png" alt="" />
              </div>
              <h1>The best place to share discover front-end code.</h1>
            </div>
            <div class="pageLeftMiddle">
              <p>
                CodeMe is a
                <strong>social development environment</strong> for front-end
                designers and developers. Build and deploy a website, show off
                your work ,and find inspiration.
              </p>
            </div>

            <button>sign up for free</button>
          </div>
          <div class="pageRightInfo">
            <div class="pageRightBoxes rightBox">
              <div class="setRightbox">
                <div class="boxHeading">
                  <img src="images/setting-removebg-preview.png" alt="" />
                  <div class="boxHeadingTitle">
                    <h1>node js</h1>
                  </div>
                </div>
                <div class="boxBody">
                  <pre><code class="language-javascript">
            var http = require('http');
              http.createServer(function (req, res) {
              res.writeHead(200, {'Content-
                        
                    </code></pre>
                </div>
              </div>
            </div>
            <div class="pageRightBoxes middleBox">
              <div class="setRightbox">
                <div class="boxHeading">
                  <img src="images/setting-removebg-preview.png" alt="" />
                  <div class="boxHeadingTitle">
                    <h1>css</h1>
                  </div>
                </div>
                <div class="boxBody">
                  <pre><code class="language-css">
                  main{
                    border: none;
                    background-color: #34adw;
                  }
                  </code></pre>
                </div>
              </div>
            </div>
            <div class="pageRightBoxes RightBottomBox">
              <div class="setRightbox">
                <div class="boxHeading">
                  <img src="images/setting-removebg-preview.png" alt="" />
                  <div class="boxHeadingTitle">
                    <h1>js</h1>
                  </div>
                </div>
                <div class="boxBody">
                  <pre><code class="language-javascript">
              const scr = [23fs, adf3, 2sef];
              forEach((elem)=>(){
                console.log(elem)
              })      
                  </code></pre>
                </div>
              </div>
            </div>
            <div class="pageRightBoxes RightMiddleBox">
              <div class="setRightbox">
                <div class="boxHeading">
                  <img src="images/setting-removebg-preview.png" alt="" />
                  <div class="boxHeadingTitle">
                    <h1>express js</h1>
                  </div>
                </div>
                <div class="boxBody">
                  <pre><code class="language-javascript">
                app.get('/', (req, res) => {
                    res.send('Hello World!')
                })      
                    </code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- --------page3 information to build website---------- -->
    <div id="page3">
      <div class="pageBGimgright">
        <img src="images/homeBGright.png" alt="" />
      </div>
      <div class="pageBGimgleft">
        <img src="images/homeBGLeft.png" alt="" />
      </div>
      <div class="paeg3Heading">
        <h3>Find inspiration from front-end designers and developers.</h3>
      </div>
      <div class="page3Main">
        <div class="page3MainBox">
          <% userPosts.forEach((post)=>{ %>
            <div class="userPostBoxes">
              <div class="postBGclip"></div>
              <div class="userPostBox">
                <div class="postImgBox showslider">
                  <div class="sideBgEffect">
                    <div class="likeContainer">
                      <% if(isLoggedIn){ %>
                        <% let userLiked = post.like.some((like) => like.toString() === profileUser._id.toString()); %>
                        <% if(userLiked) { %>
                          <span class="likeButton liked" id="likeButton" postId="<%= post._id %>">
                        <% }else { %>
                          <span class="likeButton" id="likeButton" postId="<%= post._id %>">
                        <% } %>
                      <% }else{ %>
                        <span class="likeButton" id="likeButton" postId="<%= post._id %>">
                      <% } %>
                        <i class="heartIcon" id="heartIcon"></i>
                        <span class="likeCount" id="likeCount_<%= post._id %>"><%= post.like.length %></span>
                      </span>
                    </div>
                    <% if(isLoggedIn){ %>
                      
                      <div class="seeContainer" 
                      post='<%= JSON.stringify(post).replace(/'/g, "&#39;") %>' 
                      profileUser='<%= profileUser._id %>' >
                 
                    <% }else{ %>
                      <div class="seeContainer" post='<%= JSON.stringify(post).replace(/'/g, "&#39;") %>'>
                    <% } %>
                      <i class="eyeSymbol"></i>
                    </div>
                  </div>
                  <img src="<%= post.thumbnail %>" alt="" />
                </div>
                <div class="userDetailsBox">
                  <div class="profileImgBox">
                    <% if (!post.user.dp || post.user.dp === "" ) { %>
                      <img src="/images/profilePic.png" alt="Default Profile Picture" class="profile-pic">
                    <% } else { %>
                      <img src="<%= post.user.dp %>" alt="Profile Picture" class="profile-pic" onerror="this.src='/images/profilePic.png'">
                    <% } %>
                    
                  </div>
                  <div class="postUserDetail">
                    <div class="postCaption">
                      <h2><%= post.postName %></h2>
                    </div>
                    <div class="userName">
                      <h4><%= post.user.userName %></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
          
 
        </div>
      </div>
      <div class="redirectPostsPage">
        <a href="#"> next </a>
      </div>
    </div>

    <div id="page5">
      <div class="leftSide">
        <h1>start building your</h1>
        <h1>app faster</h1>
        <p>
          Create your tools faster and with no additional effort & resources.
        </p>
      </div>

      <div class="rightSide">
        <button>Start building</button>
      </div>
    </div>
  </main>

  <footer>
    <div class="leftContain">
      <img src="./images/logo.png" alt="" />
      <h3>CodeMe</h3>
    </div>
    <div class="rightContain">
      <div class="elems">
        <h1>product</h1>
        <h6>low code plateform</h6>
        <h6>automation</h6>
        <h6>git-version control</h6>
        <h6>components</h6>
        <h6>ui desing</h6>
      </div>
      <div class="elems">
        <h1>resources</h1>
        <h6>low code plateform</h6>
        <h6>automation</h6>
        <h6>git-version control</h6>
        <h6>components</h6>
        <h6>ui desing</h6>
        <h6>git-version control</h6>
        <h6>components</h6>
        <h6>ui desing</h6>
      </div>
      <div class="elems">
        <h1>solution</h1>
        <h6>low code plateform</h6>
        <h6>automation</h6>
        <h6>git-version control</h6>
        <h6>components</h6>
        <h6>ui desing</h6>
      </div>
      <div class="elems">
        <h1>integration</h1>
        <h6>low code plateform</h6>

        <h6>ui desing</h6>
      </div>
      <div class="elems">
        <h1>why CodeMe</h1>
        <h6>low code plateform</h6>
        <h6>automation</h6>
        <h6>git-version control</h6>
        <h6>components</h6>
        <h6>ui desing</h6>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>
  <script src="/js/script.js"></script>
</body>

</html>