<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/atom-one-dark.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/index.css" />
  <title>FrontEnd Market Place</title>
</head>

<body>

  <div id="loaderContainer">
    <div class="loader"></div>
  </div>
  <header>
    <nav>
      <a href="/">

        <div class="logo">
          <div class="image"><img src="./images/logo.png" alt="logo" /></div>
          <div class="title">CodeMe</div>
        </div>
      </a>

      <div class="menu">
        <ul>

          <li class="list"><a href="regex">regex</a></li>
          <!-- <li class="list"><a href="#">UI</a></li> -->
          <li class="list"><a href="uicode">UI+Code</a></li>
          <li class="list"><a href="contact">Contact</a></li>
          <li class="list"><a href="aboutus">AboutUs</a></li>
        </ul>
      </div>

      <% if (isLoggedIn) { %>

        <div class="profileRedirectBox">
          <% if(profileUser.role==="admin" ){ %>
            <a href="/admin">
              <% } else { %>
                <a href="/profile">
                  <% } %>
                    <div class="imgboxProfile">
                      <% if (!profileUser || !profileUser.dp || profileUser.dp==="" ) { %>
                        <img src="/images/profilePic.png" alt="Default Profile Picture" />
                        <% } else { %>
                          <img src="<%= profileUser.dp %>" alt="Profile Picture" />
                          <% } %>
                    </div>
                </a>
        </div>
        <% } else { %>
          <div class="loginRegister">
            <a href="/login">
              <div id="homeLoginBtn">login</div>
            </a>
            <a href="/register">
              <div id="homeRegisterBtn">register</div>
            </a>
          </div>
          <% } %>
            <div class="sideNavbrgar">
              <div id="sideNaviBtn" class="sideShowNavi">
                <div class="setNaviBtn">
                  <div class="lines"></div>
                  <div class="lines"></div>
                  <div class="lines"></div>
                </div>
              </div>
            </div>
    </nav>

    <!-- ---------side Nav------------ -->
    <div class="sideNaviMedia">
      <div class="sideMenu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="regex">Regex</a></li>
          <!-- <li><a href="#">UI</a></li> -->
          <li><a href="#">UI+Code</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
        </ul>
      </div>
    </div>

    <div id="page1">
      <a href="#">
        <img src="/images/christmas-stars.png" alt="star" />
        Share Your Work With Your Network.
      </a>
      <h1>FrontEnd Code-Exchange.</h1>
      <h1>At speed.</h1>

      <h6>
        CodeMe is a social platform for developers that saves their time.
      </h6>
    </div>
  </header>

  <main>
    <!-- ------page2-video----- -->


    <div id="postDetailedBox" class="post_DetailedBox">


    </div>

    <div id="page2">
      <div class="pageLayout">
        <div class="width_wrapper">
          <div class="pageLeftInfo">
            <div class="pageLeftHead">
              <div class="imagePageLeft">
                <img src="images/logo.png" alt="" />
              </div>
              <h1>The best place to share discover front-end code.</h1>
            </div>
            <div class="pageLeftMiddle">
              <p>
                CodeMe is a
                <strong>social development environment</strong> for front-end
                designers and developers. Build and deploy a website, show off
                your work ,and find inspiration.
              </p>
            </div>
            <% if(!profileUser){ %>

              <button>sign up for free</button>
            <%}%>
          </div>
          <div class="pageRightInfo">
            <div class="pageRightBoxes rightBox">
              <div class="setRightbox">
                <div class="boxHeading">
                  <img src="images/setting-removebg-preview.png" alt="" />
                  <div class="boxHeadingTitle">
                    <h1>node js</h1>
                  </div>
                </div>
                <div class="boxBody">
                  <pre><code class="language-javascript">
            var http = require('http');
              http.createServer(function (req, res) {
              res.writeHead(200, {'Content-
                        
                    </code></pre>
                </div>
              </div>
            </div>
            <div class="pageRightBoxes middleBox">
              <div class="setRightbox">
                <div class="boxHeading">
                  <img src="images/setting-removebg-preview.png" alt="" />
                  <div class="boxHeadingTitle">
                    <h1>css</h1>
                  </div>
                </div>
                <div class="boxBody">
                  <pre><code class="language-css">
                  main{
                    border: none;
                    background-color: #34adw;
                  }
                  </code></pre>
                </div>
              </div>
            </div>
            <div class="pageRightBoxes RightBottomBox">
              <div class="setRightbox">
                <div class="boxHeading">
                  <img src="images/setting-removebg-preview.png" alt="" />
                  <div class="boxHeadingTitle">
                    <h1>js</h1>
                  </div>
                </div>
                <div class="boxBody">
                  <pre><code class="language-javascript">
              const scr = [23fs, adf3, 2sef];
              forEach((elem)=>(){
                console.log(elem)
              })      
                  </code></pre>
                </div>
              </div>
            </div>
            <div class="pageRightBoxes RightMiddleBox">
              <div class="setRightbox">
                <div class="boxHeading">
                  <img src="images/setting-removebg-preview.png" alt="" />
                  <div class="boxHeadingTitle">
                    <h1>express js</h1>
                  </div>
                </div>
                <div class="boxBody">
                  <pre><code class="language-javascript">
                app.get('/', (req, res) => {
                    res.send('Hello World!')
                })      
                    </code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- --------page3 information to build website---------- -->
    <div id="page3">
      <div class="pageBGimgright">
        <img src="images/homeBGright.png" alt="" />
      </div>
      <div class="pageBGimgleft">
        <img src="images/homeBGLeft.png" alt="" />
      </div>
      <div class="paeg3Heading">
        <h3>Find inspiration from front-end designers and developers.</h3>
      </div>
      <div class="page3Main">
        <div class="page3MainBox">
          <% userPosts.forEach((post)=>{ %>
            <div class="userPostBoxes">
              <div class="postBGclip"></div>
              <div class="userPostBox">
                <div class="postImgBox showslider">
                  <div class="sideBgEffect">
                    <div class="likeContainer">
                      <% if(isLoggedIn){ %>
                        <% let userLiked=post.like.some((like)=> like.toString() === profileUser._id.toString()); %>
                          <% if(userLiked) { %>
                            <span class="likeButton liked" id="likeButton" postId="<%= post._id %>">
                              <% }else { %>
                                <span class="likeButton" id="likeButton" postId="<%= post._id %>">
                                  <% } %>
                                    <% }else{ %>
                                      <span class="likeButton" id="likeButton" postId="<%= post._id %>"  user="null">
                                        <% } %>
                                          <i class="heartIcon" id="heartIcon"></i>
                                          <span class="likeCount" id="likeCount_<%= post._id %>">
                                            <%= post.like.length %>
                                          </span>
                                      </span>
                    </div>
                    <% if(isLoggedIn){ %>

                      <div class="seeContainer" post='<%= post._id %>'
                        profileUser='<%= JSON.stringify(profileUser).replace(/' /g, "&#39;" ) %>' >
                        <% }else{ %>
                          <div class="seeContainer" post='<%= post._id%>'>
                            <% } %>
                              <i class="eyeSymbol"></i>
                          </div>
                      </div>
                      <img src="<%= post.thumbnail %>" alt="" />
                  </div>
                  <div class="userDetailsBox">
                    <div class="profileImgBox">
                      <% if (!post.user.dp || post.user.dp==="" || post.user.dp===null ) { %>
                        <img src="/images/profilePic.png" alt="Default Profile Picture" class="profile-pic">
                        <% } else { %>
                          <img src="<%= post.user.dp %>" alt="Profile Picture" class="profile-pic"
                            onerror="this.src='/images/profilePic.png'">
                          <% } %>

                    </div>
                    <div class="postUserDetail">
                      <div class="postCaption">
                        <h2>
                          <%= post.postName %>
                        </h2>
                      </div>
                      <div class="userName">
                        <% if (isLoggedIn && profileUser && post.user) { %>
                          <% if (profileUser._id.toString()==post.user._id.toString()) { %>
                            <a href="profile" style="text-decoration: none; color: #fff;" title="Your profile">
                              <%= post.user.userName %>
                            </a>
                            <% } else { %>
                              <a href="/visitedProfile/<%= post.user._id %>?visitorId=<%= profileUser._id %>"
                                style="text-decoration: none; color: #fff;"
                                title="Visit <%= post.user.userName %>'s profile">
                                <%= post.user.userName %>
                              </a>
                              <% } %>
                                <% } else if (post.user) { %>
                                  <a href="/visitedProfile/<%= post.user._id %>"
                                    style="text-decoration: none; color: #fff;"
                                    title="Visit <%= post.user.userName %>'s profile">
                                    <%= post.user.userName %>
                                  </a>
                                  <% } else { %>
                                    <span style="color: red;">User not found</span>
                                    <% } %>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% }) %>


            </div>
        </div>
        <div class="redirectPostsPage">
          <a href="uicode"> next </a>
        </div>
      </div>

      <div id="page5">
        <div class="leftSide">
          <h1>start building your</h1>
          <h1>app faster</h1>
          <p>
            Create your tools faster and with no additional effort & resources.
          </p>
        </div>

        <div class="rightSide">
          <button>Start building</button>
        </div>
      </div>
  </main>

 
   
  <footer class="footer">
    <div class="footer-container">
      <!-- About Section -->
      <div class="footer-section about">
        <h4>About Frontend Market Place</h4>
        <p>Your go-to platform for sharing, learning, and growing as a frontend developer. Explore resources, showcase
          your creativity, and connect with like-minded professionals.</p>
      </div>

      <!-- Explore Section -->
      <div class="footer-section explore">
        <h4>Explore</h4>
        <ul>
          <li><a href="#">Featured Projects</a></li>
          <li><a href="#">Trending Designs</a></li>
          <li><a href="#">Code Snippets</a></li>
          <li><a href="#">Developer Blogs</a></li>
          <li><a href="#">Open Source Projects</a></li>
        </ul>
      </div>

      <!-- Resources Section -->
      <div class="footer-section resources">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">Your Profile</a></li>
          <li><a href="#">Regex</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">UI+Code</a></li>
        </ul>
      </div>

      <!-- Connect Section -->
      <div class="footer-section connect">
        <h4>Connect With Us</h4>
        <p>Join the conversation on social media:</p>
        <div class="social-icons">
          <a href="#" style="color: #000;" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="#" style="color: #000;" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="#" style="color: #000;" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="#" style="color: #000;" target="_blank"><i class="fab fa-instagram"></i></a>

        </div>
        <p>Or email us at: <a href="mailto:frontendmarketplace561@gmail.com">frontendmarketplace561@gmail.com</a></p>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2024 Frontend Market Place. Crafted with ❤️ by developers, for developers.</p>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>
  <script src="/js/script.js"></script>
</body>

</html>