<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="/css/uicode.css" />
  <title>Document</title>
</head>

<body>
  <div id="loaderContainer">
    <div class="loader"></div>
  </div>
  <header>
    <!-- -------------navbar----------- -->
    <nav>
      <a href="/">
        <div class="logo">
          <div class="image"><img src="./images/logo.png" alt="logo" /></div>
          <div class="title">CodeMe</div>
        </div>
      </a>

      <div class="menu">
        <ul>
          <!-- <li class="list"><a href="/">home</a></li> -->
          <li class="list"><a href="regex">regex</a></li>
          <!-- <li class="list"><a href="#">UI</a></li> -->
          <li class="list"><a href="#">UI+Code</a></li>
          <li class="list"><a href="contact">Contact</a></li>
          <li class="list"><a href="aboutus">AboutUs</a></li>
        </ul>
      </div>

      <% if (isLoggedIn) { %>
        <div class="profileRedirectBox">
          <% if(profileUser.role==="admin" ){ %>
            <a href="/admin">
              <% } else { %>
                <a href="/profile">
                  <% } %>
                    <div class="imgboxProfile">
                      <% if (!profileUser || !profileUser.dp || profileUser.dp==="" ) { %>
                        <img src="/images/profilePic.png" alt="Default Profile Picture" />
                        <% } else { %>
                          <img src="<%= profileUser.dp %>" alt="Profile Picture" />
                          <% } %>
                    </div>
                </a>
        </div>
        <% } else { %>
          <div class="loginRegister">
            <a href="/login">
              <div id="homeLoginBtn">login</div>
            </a>
            <a href="/register">
              <div id="homeRegisterBtn">register</div>
            </a>
          </div>
          <% } %>
            <div class="sideNavbrgar">
              <div id="sideNaviBtn" class="sideShowNavi">
                <div class="setNaviBtn">
                  <div class="lines"></div>
                  <div class="lines"></div>
                  <div class="lines"></div>
                </div>
              </div>
            </div>
    </nav>

    <!-- ----------------Page - 1------------ -->
    <div id="page1">

      <div class="userPostSliderBox">
        <button class="postSwitchBtn leftBtn prev">&#10094;</button>
        <button class="postSwitchBtn rightBtn next">&#10095;</button>
        <div class="postDetailsSetBox active">
          <div class="slider">
            <div class="slides">
              <% userPosts.slice(0, 3).forEach((post) => { %>
                <div class="slide">
                  <div class="postImgBox">
                    <img src="<%= post.thumbnail %>" alt="Post Thumbnail">
                  </div>
                  <div class="postInfoBox">
                    <div class="profilePic">
                      <% if (!post.user.dp || post.user.dp === "" || post.user.dp === null) { %>
                        <img src="/images/profilePic.png" alt="Default Profile Picture" class="profile-pic">
                      <% } else { %>
                        <img src="<%= post.user.dp %>" alt="Profile Picture" class="profile-pic" onerror="this.src='/images/profilePic.png'">
                      <% } %>
                    </div>
                    <div class="userNamePostdescription">
                      <h1><%= post.postName %></h1>
                      <% if (isLoggedIn && profileUser && post.user) { %>
                        <% if (profileUser._id.toString() == post.user._id.toString()) { %>
                          <a href="profile" style="text-decoration: none; color: #000000;" title="Your profile">
                            <h3><%= post.user.userName %></h3>
                          </a>
                        <% } else { %>
                          <a href="/visitedProfile/<%= post.user._id %>?visitorId=<%= profileUser._id %>" style="text-decoration: none; color: #000000;" title="Visit <%= post.user.userName %>'s profile">
                            <h3><%= post.user.userName %></h3>
                          </a>
                        <% } %>
                      <% } else if (post.user) { %>
                        <a href="/visitedProfile/<%= post.user._id %>" style="text-decoration: none; color: #000000;" title="Visit <%= post.user.userName %>'s profile">
                          <h3><%= post.user.userName %></h3>
                        </a>
                      <% } else { %>
                        <span style="color: red;">User not found</span>
                      <% } %>
                    </div>
                    <div class="downloadBtn">
                      <a href="" class="download">Download</a>
                    </div>
                    <div class="likeAndSeeBtns">
                      <div class="likeContainer">
                        <% if (isLoggedIn) { %>
                          <% let userLiked = post.like.some((like) => like.toString() === profileUser._id.toString()); %>
                          <% if (userLiked) { %>
                            <span class="likeButton liked" id="likeButton" postId="<%= post._id %>">
                          <% } else { %>
                            <span class="likeButton" id="likeButton" postId="<%= post._id %>">
                          <% } %>
                        <% } else { %>
                          <span class="likeButton" id="likeButton" postId="<%= post._id %>">
                        <% } %>
                            <i class="heartIcon" id="heartIcon"></i>
                            <span class="likeCount" id="likeCount_<%= post._id %>"><%= post.like.length %></span>
                          </span>
                      </div>
                      <% if (isLoggedIn) { %>
                        <div class="seeContainer" post="<%= post._id %>" profileUser="<%= JSON.stringify(profileUser).replace(/'/g, '&#39;') %>">
                      <% } else { %>
                        <div class="seeContainer" post="<%= post._id %>">
                      <% } %>
                          <i class="eyeSymbol"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                
              <% }) %>
              


            </div>
          </div>
        </div>
        <div class="dotsContainer"></div>

      </div>
    </div>
  </header>

  <main>

    <!-- -----------Post Detailed Box--------------- -->
    <div id="postDetailedBox" class="post_DetailedBox">

    </div>

    <!-- ------------Page - 2-------------- -->
    <div id="page2">
      <div class="page2Main">
        <div class="page2MainBox">
          <% userPosts.forEach((post)=>{ %>
            <div class="userPostBoxes">
              <div class="postBGclip"></div>
              <div class="userPostBox">
                <div class="postImgBox showslider">
                  <div class="sideBgEffect">
                    <div class="likeContainer">
                      <% if(isLoggedIn){ %>
                        <% let userLiked=post.like.some((like)=> like.toString() === profileUser._id.toString()); %>
                          <% if(userLiked) { %>
                            <span class="likeButton liked" id="likeButton" postId="<%= post._id %>">
                              <% }else { %>
                                <span class="likeButton" id="likeButton" postId="<%= post._id %>">
                                  <% } %>
                                    <% }else{ %>
                                      <span class="likeButton" id="likeButton" postId="<%= post._id %>">
                                        <% } %>
                                          <i class="heartIcon" id="heartIcon"></i>
                                          <span class="likeCount" id="likeCount_<%= post._id %>">
                                            <%= post.like.length %>
                                          </span>
                                      </span>
                    </div>
                    <% if(isLoggedIn){ %>

                      <div class="seeContainer" post='<%= post._id %>'
                        profileUser='<%= JSON.stringify(profileUser).replace(/' /g, "&#39;" ) %>' >
                        <% }else{ %>
                          <div class="seeContainer" post='<%= post._id%>'>
                            <% } %>
                              <i class="eyeSymbol"></i>
                          </div>
                      </div>
                      <img src="<%= post.thumbnail %>" alt="" />
                  </div>
                  <div class="userDetailsBox">
                    <div class="profileImgBox">
                      <% if (!post.user.dp || post.user.dp==="" || post.user.dp===null ) { %>
                        <img src="/images/profilePic.png" alt="Default Profile Picture" class="profile-pic">
                        <% } else { %>
                          <img src="<%= post.user.dp %>" alt="Profile Picture" class="profile-pic"
                            onerror="this.src='/images/profilePic.png'">
                          <% } %>

                    </div>
                    <div class="postUserDetail">
                      <div class="postCaption">
                        <h2>
                          <%= post.postName %>
                        </h2>
                      </div>
                      <div class="userName">
                        <% if (isLoggedIn && profileUser && post.user) { %>
                          <% if (profileUser._id.toString() == post.user._id.toString()) { %>
                            <a href="profile" style="text-decoration: none; color: #fff;" title="Your profile">
                              <h3><%= post.user.userName %></h3>
                            </a>
                          <% } else { %>
                            <a href="/visitedProfile/<%= post.user._id %>?visitorId=<%= profileUser._id %>" style="text-decoration: none; color: #fff;" title="Visit <%= post.user.userName %>'s profile">
                              <h3><%= post.user.userName %></h3>
                            </a>
                          <% } %>
                        <% } else if (post.user) { %>
                          <a href="/visitedProfile/<%= post.user._id %>" style="text-decoration: none; color: #fff;" title="Visit <%= post.user.userName %>'s profile">
                            <h3><%= post.user.userName %></h3>
                          </a>
                        <% } else { %>
                          <span style="color: red;">User not found</span>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% }) %>
            </div>
        </div>
      </div>
      <div id="page3">
        <div class="leftBox box">
          <% userPosts.slice(0, 1).forEach((post) => { %>
          <div class="postImgBox">
            <img src="<%= post.thumbnail %>" alt="">
          </div>
          <div class="postDetailBox">
            <div class="likeAndSeeBox">
              <div class="likeContainer">
                <% if (isLoggedIn) { %>
                  <% let userLiked = post.like.some((like) => like.toString() === profileUser._id.toString()); %>
                  <% if (userLiked) { %>
                    <span class="likeButton liked" id="likeButton" postId="<%= post._id %>">
                  <% } else { %>
                    <span class="likeButton" id="likeButton" postId="<%= post._id %>">
                  <% } %>
                <% } else { %>
                  <span class="likeButton" id="likeButton" postId="<%= post._id %>">
                <% } %>
                    <i class="heartIcon" id="heartIcon"></i>
                    <span class="likeCount" id="likeCount_<%= post._id %>"><%= post.like.length %></span>
                  </span>
              </div>
              <% if (isLoggedIn) { %>
                <div class="seeContainer" post="<%= post._id %>" profileUser="<%= JSON.stringify(profileUser).replace(/'/g, '&#39;') %>">
              <% } else { %>
                <div class="seeContainer" post="<%= post._id %>">
              <% } %>
                  <i class="eyeSymbol"></i>
                </div>
              
            </div>
            <div class="profileInfo">
              <div class="imgBox">
                <% if (!post.user.dp || post.user.dp === "" || post.user.dp === null) { %>
                  <img src="/images/profilePic.png" alt="Default Profile Picture" class="profile-pic">
                <% } else { %>
                  <img src="<%= post.user.dp %>" alt="Profile Picture" class="profile-pic" onerror="this.src='/images/profilePic.png'">
                <% } %>
              </div>
              <div class="userNameFollowers">
                <% if (isLoggedIn && profileUser && post.user) { %>
                  <% if (profileUser._id.toString() == post.user._id.toString()) { %>
                    <a href="profile" style="text-decoration: none; color: #000000;" title="Your profile">
                      <h2><%= post.user.userName %></h2>
                    </a>
                  <% } else { %>
                    <a href="/visitedProfile/<%= post.user._id %>?visitorId=<%= profileUser._id %>" style="text-decoration: none; color: #000000;" title="Visit <%= post.user.userName %>'s profile">
                      <h2><%= post.user.userName %></h2>
                    </a>
                  <% } %>
                <% } else if (post.user) { %>
                  <a href="/visitedProfile/<%= post.user._id %>" style="text-decoration: none; color: #000000;" title="Visit <%= post.user.userName %>'s profile">
                    <h2><%= post.user.userName %></h2>
                  </a>
                <% } else { %>
                  <span style="color: red;">User not found</span>
                <% } %>
                <h3>Followers : <%= post.user.followers.length %></h3>
              </div>
            </div>
            <div class="postDescription">
              <h2><%= post.postName %></h2>
            </div>
            <div class="downloadBtn" style="margin-left: 24px;">
              <a href="#">Download</a>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="rightBox box">
          <% const randomIndex = Math.floor(Math.random() * userPosts.length); 
              const post = userPosts[randomIndex]; %>
          <% if (post) { %>
            <div class="postImgBox">
              <img src="<%= post.thumbnail %>" alt="">
            </div>
            <div class="postDetailBox">
              <div class="likeAndSeeBox">
                <div class="likeContainer">
                  <% if (isLoggedIn) { %>
                    <% let userLiked = post.like.some((like) => like.toString() === profileUser._id.toString()); %>
                    <% if (userLiked) { %>
                      <span class="likeButton liked" id="likeButton" postId="<%= post._id %>">
                    <% } else { %>
                      <span class="likeButton" id="likeButton" postId="<%= post._id %>">
                    <% } %>
                  <% } else { %>
                    <span class="likeButton" id="likeButton" postId="<%= post._id %>">
                  <% } %>
                      <i class="heartIcon" id="heartIcon"></i>
                      <span class="likeCount" id="likeCount_<%= post._id %>"><%= post.like.length %></span>
                    </span>
                </div>
                <% if (isLoggedIn) { %>
                  <div class="seeContainer" post="<%= post._id %>" profileUser="<%= JSON.stringify(profileUser).replace(/'/g, '&#39;') %>">
                <% } else { %>
                  <div class="seeContainer" post="<%= post._id %>">
                <% } %>
                    <i class="eyeSymbol"></i>
                  </div>
                
              </div>
              <div class="profileInfo">
                <div class="imgBox">
                  <% if (!post.user.dp || post.user.dp === "" || post.user.dp === null) { %>
                    <img src="/images/profilePic.png" alt="Default Profile Picture" class="profile-pic">
                  <% } else { %>
                    <img src="<%= post.user.dp %>" alt="Profile Picture" class="profile-pic" onerror="this.src='/images/profilePic.png'">
                  <% } %>
                </div>
                <div class="userNameFollowers">
                  <% if (isLoggedIn && profileUser && post.user) { %>
                    <% if (profileUser._id.toString() == post.user._id.toString()) { %>
                      <a href="profile" style="text-decoration: none; color: #000000;" title="Your profile">
                        <h2><%= post.user.userName %></h2>
                      </a>
                    <% } else { %>
                      <a href="/visitedProfile/<%= post.user._id %>?visitorId=<%= profileUser._id %>" style="text-decoration: none; color: #000000;" title="Visit <%= post.user.userName %>'s profile">
                        <h2><%= post.user.userName %></h2>
                      </a>
                    <% } %>
                  <% } else if (post.user) { %>
                    <a href="/visitedProfile/<%= post.user._id %>" style="text-decoration: none; color: #070707;" title="Visit <%= post.user.userName %>'s profile">
                      <h2><%= post.user.userName %></h2>
                    </a>
                  <% } else { %>
                    <span style="color: red;">User not found</span>
                  <% } %>
                  <h3>Followers : <%= post.user.followers.length %></h3>
                </div>
              </div>
              <div class="postDescription">
                <h2><%= post.postName %></h2>
              </div>
              <div class="downloadBtn" style="margin-left: 24px;">
                <a href="#">Download</a>
              </div>
            </div>
            <% } %>
        </div>
      </div>
  </main>
  <footer>
    <div class="leftContain">
      <img src="./images/logo.png" alt="" />
      <h3>CodeMe</h3>
    </div>
    <div class="rightContain">
      <div class="elems">
        <h1>product</h1>
        <h6>low code plateform</h6>
        <h6>automation</h6>
        <h6>git-version control</h6>
        <h6>components</h6>
        <h6>ui desing</h6>
      </div>
      <div class="elems">
        <h1>resources</h1>
        <h6>low code plateform</h6>
        <h6>automation</h6>
        <h6>git-version control</h6>
        <h6>components</h6>
        <h6>ui desing</h6>
        <h6>git-version control</h6>
        <h6>components</h6>
        <h6>ui desing</h6>
      </div>
      <div class="elems">
        <h1>solution</h1>
        <h6>low code plateform</h6>
        <h6>automation</h6>
        <h6>git-version control</h6>
        <h6>components</h6>
        <h6>ui desing</h6>
      </div>
      <div class="elems">
        <h1>integration</h1>
        <h6>low code plateform</h6>

        <h6>ui desing</h6>
      </div>
      <div class="elems">
        <h1>why CodeMe</h1>
        <h6>low code plateform</h6>
        <h6>automation</h6>
        <h6>git-version control</h6>
        <h6>components</h6>
        <h6>ui desing</h6>
      </div>
    </div>
  </footer>
  <!-- ------------Scripts----------- -->
  <script src="/js/uicode.js"></script>
</body>

</html>